.manage-user-container {
    .manage-user-content {
        .btn-add-user {
            button {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}

.modal-add-user {
    .img-preview {
        height: 150px;
        border: 1px dashed #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        background-color: #eeeeee;
        cursor: pointer;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;

        &:hover {
            background-color: #dcdcdc;
        }
    }

}