.navbar{
    background-color: rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
.nav-dropdown{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.user-name{
  font-size: 16px;
  display: flex;
  align-items: center;
}
.dropdown-toggle::after{
  display: none;

}
#basic-nav-dropdown{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}