.homepage-container {
    // position: relative;
    video {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
    }

}

@media (max-width: 739px) {
    .homepage-container {
        .homepage-content {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
            padding: 0 15px;

            .home-title {
                font-size: 20px;
            }

            .home-desc {
                font-size: 16px;
            }

            .home-btn {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .homepage-container {
        .homepage-content {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 50px;
            padding: 0 25px;

            .home-title {
                font-size: 32px;
            }

            .home-desc {
                font-size: 18px;
            }

            .home-btn {
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .homepage-container {
        .homepage-content {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: calc((100vh - 80px) / 2);
            transform: translateY(-50%);
            padding: 0 25px;

            .home-title {
                font-size: 44px;
            }

            .home-desc {
                font-size: 22px;
            }

            .home-btn {
                font-size: 18px;
            }
        }
    }
}