.login-container{
    .header{
        line-height: 45px;
        text-align: right;
        &-text{
            padding: 10px 25px;
            a{
                color: #000;
            }
        }
    }
    .title{
        font-size: 42px;
        text-align: center;
        font-weight: bold;
    }
    .auth-content{
        padding: 20px 72px;
        .welcome{
            text-align: center;
            font-size: 20px;
            line-height: 24px;
            font-weight: 400;
            margin: 10px 0 15px 0;
        }
        .content-form{
            .form-group{
                margin-bottom: 5px;
                label{
                    font-size: 14px;
                    // line-height: 38px;
                    padding: 7px 10px 7px 0;
                }
            }
            .forgot-password{
                font-size: 14px;
                margin-bottom: 25px;
            }
            .btn-login{
                button{
                    width: 100%;
                }
            }
            // register
            .form-password{
                position: relative;

                .icons-eye{
                    position: absolute;
                    right: 10px;
                    bottom: 8px;
                }
            }
        }

    }
}