.detail-quiz-container {
    height: calc(100vh - 66px);
    .left-content {
        padding: 10px;
        border: 1px solid #dddddd;
        .question-container{
            .question-content {
                .question-image {
                    height: 215px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        max-height: 100%;
                        cursor: pointer;
                    }
                }
                .not-found {
                    border: 1px dotted #000;
                    border-radius: 5px;
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }
    .right-content {
        border: 1px solid #dddddd;

        .main-timer {
            border-bottom: 1px dashed;
            padding-bottom: 15px;
            padding-top: 15px;
            font-weight: 600;
            font-size: 20px;
        }

        .main-question {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            padding: 0 15px;
            .question {
                border: 1px solid red;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 24px;

                &:hover {
                    background-color: red;
                    color: #fff;
                }

                &.active {
                    background-color: #b91010;
                    color: #fff;
                }

                &.clicked {
                    color: red;
                    background-color: #ccc;
                }
            }
        }
    }
}

.incorrect {
    color: #b91010;
}

.correct {
    color: blue;
}

@media (max-width: 739px) {
    .detail-quiz-container {
        padding: 30px 0;
        .quiz-detail--body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .left-content{
                .question-container {
                    .title {
                        line-height: 28px;
                    }
                }
            }
            .right-content {
                .main-question {
                    gap: 15px;
                    padding: 0 15px;
                    margin: 15px auto 15px auto;
                }
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .detail-quiz-container {
        padding: 30px 0;
        .quiz-detail--body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .left-content{
                .question-container {
                    .title {
                        line-height: 32px;
                    }
                    .question-content{
                        .question-image{
                            width: 50%;

                        }
                    }
                }
            }
            .right-content {
                .main-question {
                    gap: 15px;
                    padding: 0 15px;
                    margin: 15px auto 15px auto;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .detail-quiz-container {
        padding: 50px 0;

        .quiz-detail--body {
            display: flex;
            justify-content: space-evenly;
            .left-content{
                .question-container {
                    .title {
                        line-height: 48px;
                    }
                    .question-content{
                        .question-image{
                            width: 50%;

                        }
                    }
                }
            }
            .right-content {
                .main-question {
                    gap: 15px;
                    padding: 0 15px;
                    margin: 15px auto 0 auto;
                 
                }
            }
        }
    }
}