.list-quiz-content{
    .cart-list{
        .card-item{
            border-radius: 3px;
            margin: 10px 15px;
            .card-img-top{
                height: 280px;
            }
            .card-body{
                margin-top: 15px;
                padding: 15px;
            }
        }
    }
}
.row>*{
    padding-left: 0!important;
    padding-right: 0!important;
    
}